html
  body
    form(name="chord-search", method="post")
      div.input
        span.label Chord
        input(type="text", name="chord")
      div.actions
        input(type="submit", value="search") 
